/* Base styles */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .grid__item_1,
  .grid__item_2,
  .grid__item_3,
  .grid__item_4,
  .grid__item_5,
  .grid__item_6 {
    background-color: #d85e5e;
    padding: 20px;
    text-align: center;
  }

  /* Base styles */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content select {
    width: 100%;
    padding: 12px 16px;
    border: none;
    background: none;
    cursor: pointer;
  }

  .grid__item_2 img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    display: block;
    margin: 0 auto;
    background-color: #ebbbbb;
  }
  .grid__item_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d69d9d;
  }
  
  #funFactButton {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  #funFactDisplay {
    font-size: 14px;
    text-align: center;
  }
  
  
  
  /* Show the dropdown menu when the button is clicked */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .grid__item_5 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #b54b4b;
  }
  
  
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }

  .grid__item_footer {
    grid-column: 1 / -1;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  