@import url("css\reset.css");

body{
    padding: 2rem;
}
header,
aside,
article,
footer,
.column {
    padding: 2rem;
    border: 2px solid black;
    width: 80%;
    margin: 2rem auto;
    border-radius: 0.25rem;
}

@media only screen and (min-width: 800px){
    body{
        background-color: aqua;

    }
}